<link rel="icon" type="image/svg+xml" href="{{ '/favicon.svg' | relative_url }}">
<link rel="shortcut icon" href="{{ '/favicon.svg' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/favicon.svg' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/override.css' | relative_url }}">
<script>
  (function() {
    var setIcon = function(url) {
      ['icon', 'shortcut icon', 'apple-touch-icon'].forEach(function(rel) {
        var link = document.querySelector('link[rel="' + rel + '"]');
        if (link) { link.href = url; }
        else {
          link = document.createElement('link');
          link.rel = rel;
          link.href = url;
          document.head.appendChild(link);
        }
      });
    };
    setIcon("{{ '/favicon.svg' | relative_url }}");
  })();
</script>
