{%- assign favicon_url = ("/favicon.svg" | relative_url) | append: "?v=" | append: site.time | date: '%s' -%}
{%- assign png_fallback = ("/assets/DIGISCHOLI_color-flush.png" | relative_url) -%}
<link rel="icon" type="image/svg+xml" href="{{ favicon_url }}">
<link rel="icon" type="image/png" href="{{ png_fallback }}">
<link rel="shortcut icon" href="{{ favicon_url }}">
<link rel="apple-touch-icon" href="{{ png_fallback }}">
<link rel="stylesheet" href="{{ '/assets/css/override.css' | relative_url | append: '?v=' | append: site.time | date: '%s' }}">
<script>
  (function() {
    var setIcon = function(url) {
      ['icon', 'shortcut icon', 'apple-touch-icon'].forEach(function(rel) {
        var link = document.querySelector('link[rel="' + rel + '"]');
        if (link) { link.href = url; }
        else {
          link = document.createElement('link');
          link.rel = rel;
          link.href = url;
          document.head.appendChild(link);
        }
      });
    };
    setIcon("{{ favicon_url }}");
  })();
</script>
